<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Ticket Tracker</title>
</head>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Ticket Tracker</a>
</nav>

<a href="ticket">View All Tickets</a>

<body>
  {{{body}}}
</body>



</html>