body{
    background-color: cornflowerblue;
    
}

.navbar {
    border-radius: 15px;
  }

#main{
    padding-top: 50px;
    
}
canvas {
    max-width: 100%;
    margin: 0 auto;
    
}
.wrapper {
    max-width: 100%;
    margin: 0 auto;
    
}


