.navbar {
  border-radius: 15px;
}

.btn-dark {
  float: right;
}

body {
  background-color: cornflowerblue;
}

#main {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.card {
  max-height: fit-content;
}

.multi-select {
  height: 200px;
}





